<div class="container">
    <div class="intro-section">
        <h1>This is page Order confirm</h1>
        <p> thank you ordered ! The under is information of product </p>
    </div>
    <div class="col-md-12">
        <h2 class="prodcut-order">Sản Phảm đã đạt</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col" >Số lượng</th>
                    <th scope="col" >Dơn giá</th>
                    <th scope="col" >Tổng giá </th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td >
                        <div class="prodcut-intro">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHskikRGpiwn9B2tZfvm10oYCnaE-XLKbJ9g&usqp=CAU" alt="sản phẩm">
                            <span class="prodcut-name">Name product</span>
                        </div>
                    </td>
                    <td>1000000</td>
                    <td>200000</td>
                    
                </tr>
            </body>
        </table>

        
        
        <div class="text-start mt-3">
            <button class="btn btn-gradient" type="button"> Xác nhận</button>
        </div>
    </div>
</div>
