<app-header></app-header>

<div class="container">
  <div class="intro-section">
    <h1>This is HOME</h1>
    <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
  </div>
  <!--Đoạn này có 1 ô searchbox bên trai -->
  <div class="search-box">
    <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
    <select class="form-control product-category">
      <option selected disabled>Danh mục sẩn phẩm</option>
      <option>Đồ điện tử</option>
      <option>Đồ gia dụng</option>
      <option>Đồ ăn vật</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-4">
      <div class="product-item">
        <img class="product-imge"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHskikRGpiwn9B2tZfvm10oYCnaE-XLKbJ9g&usqp=CAU"
          alt="Tủ để đồ">
        <h3 class="prodcut-name">Product Name</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bao hanh 12 thang</p>
        <p class="product-price"> Gia: <del>200$</del> 100$</p>
        <div class="prodcut-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <div class="btn btn-primary"> Thêm vào giỏ hàng</div>
          <span class="space-x"></span>
          <div class="btn btn-success"> Thêm vào giỏ hàng</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-4">
      <div class="product-item">
        <img class="product-imge"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHskikRGpiwn9B2tZfvm10oYCnaE-XLKbJ9g&usqp=CAU"
          alt="Tủ để đồ">
        <h3 class="prodcut-name">Product Name</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bao hanh 12 thang</p>
        <p class="product-price"> Gia: <del>200$</del> 100$</p>
        <div class="prodcut-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <div class="btn btn-primary"> Thêm vào giỏ hàng</div>
          <span class="space-x"></span>
          <div class="btn btn-success"> Thêm vào giỏ hàng</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-lg-4">
      <div class="product-item">
        <img class="product-imge"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHskikRGpiwn9B2tZfvm10oYCnaE-XLKbJ9g&usqp=CAU"
          alt="Tủ để đồ">
        <h3 class="prodcut-name">Product Name</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bao hanh 12 thang</p>
        <p class="product-price"> Gia: <del>200$</del> 100$</p>
        <div class="prodcut-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <div class="btn btn-primary"> Thêm vào giỏ hàng</div>
          <span class="space-x"></span>
          <div class="btn btn-success"> Thêm vào giỏ hàng</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-oderpage></app-oderpage> -->
<router-outlet></router-outlet>
<app-footer></app-footer>